In [16]:
# Import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [17]:
# Load the dataset
df = pd.read_csv('../data/raw/financial_transaction.csv', usecols=lambda col: col not in ['isFlaggedFraud', 'step'])

In [18]:
# Display the first few rows of the dataframe
df.head()

,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud
0,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0
1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0
2,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1
3,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1
4,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0

In [22]:
# Data Validation 
df['newbalanceOrig'] = df['oldbalanceOrg'] - df['amount']
df['newbalanceDest'] = df['oldbalanceDest'] + df['amount']

In [23]:
df.head(10)  # Display the first few rows of the dataframe

,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud
0,PAYMENT,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.0,9839.64,0
1,PAYMENT,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.0,1864.28,0
2,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,0.0,181.00,1
3,CASH_OUT,181.00,C840083671,181.00,0.00,C38997010,21182.0,21363.00,1
4,PAYMENT,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.0,11668.14,0
5,PAYMENT,7817.71,C90045638,53860.00,46042.29,M573487274,0.0,7817.71,0
6,PAYMENT,7107.77,C154988899,183195.00,176087.23,M408069119,0.0,7107.77,0
7,PAYMENT,7861.64,C1912850431,176087.23,168225.59,M633326333,0.0,7861.64,0
8,PAYMENT,4024.36,C1265012928,2671.00,-1353.36,M1176932104,0.0,4024.36,0
9,DEBIT,5337.77,C712410124,41720.00,36382.23,C195600860,41898.0,47235.77,0